body {

    padding: 0;

    margin: 0;

    background-color: #6b947b;

}

#login {

    display: flex;

    align-items: center;

    justify-content: center;

    height: 100vh;

    font-family: serif;

}

.card {

    background-color: rgba(184, 169, 169, 0.3);

    padding: 40px;

    border-radius: 2px;

    width:280px;

}

.card-header {

    padding-bottom: 50px;

    opacity: 0.8;

    color: rgb(37, 14, 14);

}

.card-header::after {

    content: "";

    width: 70px;

    height: 1px;

    background-color: rgb(136, 94, 94);

    display: block;

    margin-top: -17px;

    margin-left: -5px;

}

.card-content label {

    color: rgb(148, 90, 90);

    font-size: 12px;

    opacity: 0.8;

}

.card-content-area {

    display: flex;

    flex-direction: column;

    padding:10px 0;

}

.card-content-area input {

    margin-top: 10px;

    padding:0 5px;

    background-color: transparent;

    border:none;

    border-bottom: 1px solid #6c5858;

    outline: none;

    color: rgb(0, 0, 0);

}

.card-footer {

    display: flex;

    flex-direction: column;

}

.card-footer .submit{

    width: 100%;

    height: 40px;

    background-color: #49232e;

    border:none;

    color:#090707;

    margin: 10px 0;

}

.card-footer a {

    text-align: center;

    font-size: 12px;

    opacity: 0.8;

    color: rgb(40, 19, 19);

    text-decoration: none;

}