<h1> Cadastro de Times </h1>

<div class="content-form">
    <form #myForm= "ngForm" (submit)= "salvarTimes(myForm)">
        <label for="nomeTime">Nome:</label>
        <input type="text"  name="user" id="nomeTime" placeholder="Digite o nome"  [(ngModel)]="meuTime.nome">

        <label for="cidadeTime">Cidade:</label>
        <input type="text" name="cidade" id="cidadeTime" placeholder="Digite a cidade" [(ngModel)]="meuTime.cidade">

        <label for="estadoTime">Estado:</label>
        <input type="text" name="ano" id= "estadoTime" placeholder="Digite o estado" [(ngModel)]="meuTime.estado">

        <input type="submit" name="submit" value="save">
    </form>
</div>

<h2> Times Cadastrados </h2>

<div>
    <ul>
        <li *ngFor="let time of listaTime; let current = index">
            <p>Time {{current + 1}}</p>
            <p>Nome: {{time.nome}}</p>
            <p>Cidade: {{time.cidade}}</p>
            <p>Estado: {{time.estado}}</p>
        </li>
    </ul>
</div>
